@import './base.css';

/* TODO: Change colors */

:root {
    --main-bg-color: #0F1C2E;
    --dark-accent: #1D3557;
    --highlight-color: #284B7B;
    --accent-color: #457B9D;
    --light-accent: #A8DADC;
    --dark-gray: #28282a;
    --gray: #BFD3C1;
    --light-gray: #F1FAEE;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
}